<p>insert-post works!</p>

<form #postForm="ngForm" (ngSubmit)=" postForm.form.valid && submitForm(postForm.value)">
  <input type="number" #id="ngModel" name="id" placeholder="Enter Id" ngModel> <br>
  <input type="number" #userId="ngModel" name="userId" placeholder="Enter User Id" ngModel> <br>
  <input type="text" #title="ngModel" name="title" placeholder="Enter Title" ngModel> <br>

  <textarea type="text"  #body="ngModel" name="body" placeholder="Enter Body" ngModel></textarea>
  br
  <button type="submit" >Save</button>
</form>




