<ul>
  post
  <ol><a routerLink ="/view-post">Post View</a></ol>
  <ol><a routerLink = "/insert-post">Post Insert</a></ol>
</ul>

<ul>
  reactive-form
  <ol><a routerLink ="/reactiveForm-vald">Validation</a></ol>
  <ol><a routerLink ="/form-binding">Form Binding</a></ol>
</ul>
<ul>
  other
  <ol><a routerLink ="/pipes">Pipes</a></ol>
  <ol><a routerLink ="/responsive">Responsive</a></ol>
  <ol><a routerLink ="/responsive">Rxjs</a></ol>
  <ol><a routerLink ="/responsive">Rxjs</a></ol>
  <ol><a routerLink ="/responsive">Service Worker</a></ol>
  <ol><a routerLink ="/responsive">Dynamic Component</a></ol>
  <ol><a routerLink ="/responsive">Signal</a></ol>
</ul>
